@import 'normalize.css';

:root {
  --color1: rgba(0, 0, 0, 0.5);
  --color2: #3cb878;
  --color3: white;
}

.wrapper {
  background-image: url("../image/background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  font-family: "AdobeIn", "Verdana", sans-serif;
}

.header {
  background-color: var(--color1);
}

.header-content {
  width: 100%;
  max-width: 1030px;
  height: 56px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
}

.logo:hover {
  color: #3cb878;
}

.header-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  margin-right: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  height: 21px;
}

.icon {
  background-image: url('../image/icon-sprite.png');
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 25px;
}

.icon:hover {
  background-position-y: -21px;
}

.icon-calculator {
  width: 20px;
  height: 20px;
  background-position: left top;
}

.icon-book {
  width: 28px;
  height: 20px;
  background-position: -20px top;
}

.icon-compass {
  width: 22px;
  height: 20px;
  background-position: -48px top;
}

.login-controls {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
}

.login-link {
  color: var(--color2);
  text-decoration: none;
  transition: 0.3s;
}

.login-link:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: calc(100% - 56px); */
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  width: 444px;
  box-sizing: border-box;
  background-color: var(--color3);
  border-radius: 5px;
  padding: 30px 60px;
  position: relative;
}

.form-text {
  display: flex;
  justify-content: space-between;
}

.form-text span {
  font-size: 20px;
}

.line {
  margin: 20px 0;
}

.line-before {
  float: left;
  width: 137px;
  opacity: 0.5;
}

.line-after {
  float: right;
  width: 137px;
  opacity: 0.5;
}

.line-text {
  font-size: 14px;
  color: #848484;
  padding-left: 18px;
  opacity: 0.8;
}

.social-media-button {
  display: inline-block;
  margin-top: 15px;
}

.button {
  width: 157px;
  height: 46px;
  border-radius: 3px;
  border-style: hidden;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.button-facebook {
  background-color: #305db8;
  margin-right: 4px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.button-facebook:hover {
  background-color: #264b96;
}

.button-google {
  background-color: #df4a32;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.button-google:hover {
  background-color: #c8422d;
}

.button-submit {
  width: 100%;
  background-color: var(--color2);
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.button-submit:hover {
  background-color: var(--color2);
}

.button i {
  width: 35px;
  min-width: 35px;
  height: 28px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button span {
  width: 100%;
  text-align: center;
  display: block;
}

.login-form input {
  width: 100%;
  padding: 13px 17px 14px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
  border: 1px solid grey;
  margin-bottom: 9px;
  outline: none;
  opacity: 0.5;
}

.login-form input:focus {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.checkbox-holder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
}

#terms {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#terms:focus {
  box-shadow: none;
}

.green-block {
  width: 18px;
  height: 18px;
  background-color: var(--color2);
  position: absolute;
  top: 32px;
  left: 0;
}

.btn-change-theme {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-left: 20px;
  color: white;
  font-size: 14px;
}

.btn-change-theme:hover {
  text-decoration: underline;
}